<div class="text-center my-4" style="display: flex; justify-content: center">
  <!-- Centered Title -->
  <p class="h4">Space Exploration System</p>
</div>

<div>
  <div
    class="row"
    style="display: flex; justify-content: center; width: 100%; gap: 20px"
  >
    <!-- Mission Card -->
    <div class="col-2 card card-shadow">
      <div class="card-body">
        <h5 class="card-title text-center">Mission</h5>
        <table class="table table-borderless mt-3">
          <thead>
            <tr>
              <th>Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            @for(agency of agencies;track agency.id){
            <tr>
              <td>{{agency.name}}</td>
              <td>
                <div class="d-flex align-items-center gap-2">
                  <a class="cursor-pointer">
                    <img src="..\assets\delete.svg" alt="Delete Icon" />
                  </a>
                  <a class="cursor-pointer">
                    <img src="..\assets\view.svg" alt="View Icon" />
                  </a>
                </div>
              </td>
            </tr>
          }
          </tbody>
        </table>

        <a class="cursor-pointer">
            <img src="..\assets\add.svg" alt="Add Icon" />
          </a>

      </div>
    </div>

    <!-- Spacecraft Card -->
    <div class="col-2 card card-shadow">
      <div class="card-body text-center">
        <h5 class="card-title">Spacecraft</h5>
      </div>
    </div>

    <!-- Astronaut Card -->
    <div class="col-2 card card-shadow">
      <div class="card-body text-center">
        <h5 class="card-title">Astronaut</h5>
      </div>
    </div>

    <!-- Agency Card -->
    <div class="col-2 card card-shadow">
      <div class="card-body text-center">
        <h5 class="card-title">Agency</h5>
      </div>
    </div>

    <!-- Planet Card -->
    <div class="col-2 card card-shadow">
      <div class="card-body text-center">
        <h5 class="card-title">Planet</h5>
      </div>
    </div>
  </div>
</div>
