<div class="text-center my-4" style="display: flex; justify-content: center">
  <!-- Centered Title -->
  <p class="h4">Space Exploration System</p>
</div>

<div>
  <div
    class="row"
    style="display: flex; justify-content: center; width: 100%; gap: 20px"
  >
    <!-- Mission Card -->
    <div class="col-2 card card-shadow">
      <div class="card-body">
        <h5 class="card-title text-center">Agency</h5>
        <div class="table-container">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th>Name</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              @if(agencies.length > 0){
                @for(agency of paginatedAgencies;track agency.id){
                <tr>
                  <td>{{agency.name}}</td>
                  <td>
                    <div class="d-flex align-items-center gap-2">
                      <a class="cursor-pointer" (click)="deleteAgency(agency.id)">
                        <img src="..\assets\delete.svg" alt="Delete Icon" />
                      </a>
                      <a class="cursor-pointer">
                        <img src="..\assets\view.svg" alt="View Icon" />
                      </a>
                    </div>
                  </td>
                </tr>
              }
            }
            </tbody>
          </table>
          
          <!-- Pagination Below the Table -->
          <app-pagination 
            [currentPage]="currentPage" 
            [itemsPerPage]="itemsPerPage" 
            [maxPagesToShow]="maxPagesToShow" 
            [totalItems]="filteredAgencies.length" 
            (pageChange)="onPageChange($event)"
            style="    position: absolute;
            bottom: 0;
            width: 100%;">
          </app-pagination>
        </div>

        <a class="cursor-pointer" data-bs-toggle="modal" data-bs-target="#modal_new_agency">
            <img src="..\assets\add.svg" alt="Add Icon" />
          </a>

      </div>
    </div>

    <!-- Spacecraft Card -->
    <div class="col-2 card card-shadow">
      <div class="card-body text-center">
        <h5 class="card-title">Spacecraft</h5>
      </div>
    </div>

    <!-- Astronaut Card -->
    <div class="col-2 card card-shadow">
      <div class="card-body text-center">
        <h5 class="card-title">Astronaut</h5>
      </div>
    </div>

    <!-- Agency Card -->
    <div class="col-2 card card-shadow">
      <div class="card-body text-center">
        <h5 class="card-title">Mission</h5>
      </div>
    </div>

    <!-- Planet Card -->
    <div class="col-2 card card-shadow">
      <div class="card-body text-center">
        <h5 class="card-title">Planet</h5>
      </div>
    </div>
  </div>
</div>

<app-new-agency (eventButton)="onRefresh($event)"></app-new-agency>
